.activity-wrapper {
  margin-top: 128px;
}
.activity-wrapper .right-part {
  width: 1760px;
}
.activity-wrapper .gallery-list {
  margin: 0;
  padding: 0;
  width: 1760px;
  display: flex;
  flex-wrap: wrap;
}
.activity-wrapper .gallery-item {
  width: 1760px;
  height: 120px;
  padding: 30px 20px 40px;
  border-bottom: 2px dashed #E2E2E2;
  font-size: 26px;
  font-family: 'Microsoft Yahei';
  color: #666;
}
.activity-wrapper .gallery-item:hover {
  background-color: #FAFAFA;
}
.activity-wrapper .wrap-v1 {
  justify-content: space-between;
}
