.top-part {
    position: relative;
    top: 0;
    left: 0;
    width: 3072px;
    height: 1400px;
    overflow: hidden;
    background: url(../../../../assets/img/home-background.webp);

    .ant-carousel {
        width: 1500px;
        height: 1000px;
        margin-left: 786px;
        margin-top: 280px;

        li {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin: 40px 20px 40px;
            background-color: #005cbb;
            opacity: 0.3;

            &.slick-active {
                background-color: red;
                opacity: 0.6;

                button {
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: transparent;

                    &:active {
                        background-color: transparent;
                    }

                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                    }
                }
            }

            button {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: transparent;

                &:active {
                    background-color: transparent;
                }

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                }
            }
        }

        img {
            width: 1500px;
            height: 1000px;
        }
    }
}