article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-x: overlay;
  overflow-y: overlay;
}
.wrap-v1 {
  width: 2400px;
  margin: 0 auto !important;
}
.content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nowrap-one-line {
  display: block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nowrap-two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.markdownStyle {
  width: 2400px;
  line-height: 64px;
  font-size: 32px;
  font-family: '宋体';
  color: #000;
}
.markdownStyle table {
  margin: 40px auto;
  border: 2px solid #000;
  border-spacing: 0;
  text-align: center;
}
.markdownStyle table th,
.markdownStyle table td {
  padding: 12px 28px;
  border: 2px solid #000;
}
.markdownStyle code {
  color: red;
  background-color: #eeeeee;
  padding: 0 8px;
}
/* 图片 */
.markdownStyle p img {
  display: block;
  max-width: 100%;
  margin: 28px auto;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.markdownStyle blockquote {
  background-color: #dfdfdf;
  padding: 28px 80px;
  font-size: 36px;
  border-radius: 40px;
  border: 4px #696969 dashed;
}
.markdownStyle blockquote p {
  margin: 0;
}
.loading {
  position: absolute !important;
  top: calc(50vh);
  left: calc(50vw);
}
