.tutor-wrapper .guide-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  border-bottom: 4px solid #F1F1F1;
}
.tutor-wrapper .guide-item {
  position: relative;
  padding: 0 12px 6px;
  margin: 0 30px;
  width: 88px;
  height: 128px;
  line-height: 130px;
  text-align: center;
  font-size: 32px;
  color: #333;
}
.tutor-wrapper .guide-item:hover {
  color: #118BCE;
}
.tutor-wrapper .guide-item:hover::after {
  background-color: #118BCE;
}
.tutor-wrapper .guide-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 88px;
  height: 6px;
  background-color: transparent;
}
.tutor-wrapper .active {
  color: #118BCE;
}
.tutor-wrapper .active::after {
  background-color: #118BCE;
}
.tutor-wrapper .wrap-v1 {
  display: flex;
  flex-wrap: wrap;
}
