.footer-wrapper {
  position: relative;
  height: 240px;
  margin-top: 100px;
  background-color: #005cbb;
}
.footer-wrapper .wrap-v1 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 152px;
  margin: auto !important;
}
.footer-wrapper .wrap-v1 .footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  margin: 0;
  padding: 0;
}
.footer-wrapper .wrap-v1 .footer-list .footer-item {
  width: 2400px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  color: white;
}
.footer-wrapper .wrap-v1 .certification {
  display: block;
  width: 2400px;
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  color: white;
}
